@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .header__option{
        @apply flex items-center px-[30px] cursor-pointer hover:bg-[#eff2f5] hover:rounded-[10px] hover:items-center hover:px-[30px] hover:border-b-0 
    }
}

.header__option > .MuiSvgIcon-root{
    color: gray;
}
.header__option > .MuiSvgIcon-root:hover{
    color: #2E81F4;
}

.header__option--active{
    border-bottom: 4px solid #2E81F4;
}

.header__option--active > .MuiSvgIcon-root{
    color: #2E81F4;
} 